<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>pruebita</title>
  </head>
  <body>
    <h1>{{pagina}}</h1>
    <form action="" method="post">
      <h3>Nombre de usuario</h3>
      <input
        type="text"
        name="username"
        id="inp_username"
        placeholder="username..."
      />
      <h3>Mail</h3>
      <input type="email" name="email" id="inp_email" />
      <h3>Contraseña</h3>
      <input type="password" name="contraseña" id="inp_contraseña" />
      {% if pagina == signup %}
      <h3>Confirmar contraseña</h3>
      <input type="password" name="contraseña2" id="inp_contraseña2" />
      <br />
      {% endif %}
      <button id="acceder" type="submit">login</button>
    </form>

    <div style="padding: 1rem 3rem 1rem 3rem">
      {% with messages = get_flashed_messages() %} {% if messages %} {% for msg
      in messages %}
      <p style="background-color: #3d3d3d; color: antiquewhite">{{msg}}</p>
      {% endfor %} {% endif %} {% endwith %}
      <p id="show">{{error}}</p>
      <p id="show2">{{usuario}}</p>
    </div>
  </body>
</html>
