html, body {
  height: 100vh;
}

.App {
  margin-top: 40px;
  background-color: #080810;
  color: white;
  height: 100%;
  display: flex;
  justify-content: center;
}

.card-body {
  color: #080810;
}

.home {
  background-color: #080810;
  padding: 20px;
}

.card {
  display: inline-flex;
  margin: 5px;
  background-color: #080810;
  border: none;
  border-radius: 8px;
  height: 250px;
  width: 300px;
}

.card img {
  filter: brightness(50%);
}

.card:hover img {
  transition-duration: 400ms;
  transition-delay: 0ms;
  filter: brightness(30%);
}
