.App {
  background-color: #363636;
  color: white;
}

.card-body {
  color: #212529;
}

.body {
  padding: 20px;
}

.card {
  display: inline-flex;
  margin: 5px;
  background-color: #363636;
  border: none;
  border-radius: 8px;
  height: 250px;
  width: 300px;
}

.card img {
  filter: brightness(50%);
}

.card:hover img {
  transition-duration: 500ms;
  filter: brightness(70%);
}
