body {
    background-color: #222;
    color: white;
    font-family: sans-serif;
}

.item {
    align-items: center;
    background-color: rgba(0,0,0,0.2);
    padding: 20px;
    width:min-content;
    display: inline-block;
}

.content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1;
    /*align-items: center;*/
    width: 100%;
}

.miniatura {
    display: block;
}

.titulo{
    display: block;
    margin-left: 13px;
    font-size: 25px;
}

.info{
    display: block;
    font-size: 3;
    font-weight: bold;
    color: #888;
    margin-left: 13px;
}

img {
    padding-left: 13px;
    padding-bottom: 10px;
}