html {
    padding: 0;
    height: 100%;
}

body {
    height: 80%;
    padding: 0;
    background-color: #262626;
}

.lateral {
    padding: 10px;
    background-color: #363636;
    height: 100%;
    max-width: 40px;
    position: fixed;
    right: 0;
    top: 40px;
}

.img {
    border: solid 0px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.img:hover {
    transition: 500ms;
    transition-delay: 0ms;
    transform: scale(120%);
}